<!DOCTYPE HTML>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}" ></script>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
            <h1 >INTERPOLACION PARA CULTIVO </h1>
		    Este es el nuevo portal para el servidor de un cultivo al cual se le realizara una interpolacion en un punto en el que no se tiene un medidor
			<!--<div id="example"></div>-->


            <div class="card text-center  form-group">
                <div class="card-header card-inverse card-primary">
                    NODO A: Temperatura y Humedad
                </div>

                <div class="card-group card-block center">
                  <div class="col-sm-8">
                    <div class="card">
                      <div class="card-block center">
                        <div id="container_NODOA" ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 card-group">
                    <div class="card">
                      <div class="card-block center">
                        <h3 class="card-title">TEMPERATURA:</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                      <div class="card-block center">
                        <h3 class="card-title">HUMEDAD:</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                </div>

            </div>


            <div class="card text-center  form-group">
                <div class="card-header  card-inverse  card-primary">
                    NODO B: Temperatura y Humedad
                </div>

                <div class="card-group card-block center">
                  <div class="col-sm-8">
                    <div class="card">
                      <div class="card-block center">
                        <div id="container_NODOB" ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 card-group">
                    <div class="card">
                      <div class="card-block center">
                        <h3 class="card-title">TEMPERATURA:</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                      <div class="card-block center">
                        <h3 class="card-title">HUMEDAD:</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                </div>

            </div>


            <div class="card text-center  form-group">
                <div class="card-header card-inverse  card-primary">
                    NODO C: Temperatura y Humedad
                </div>

                <div class="card-group card-block center">
                  <div class="col-sm-8">
                    <div class="card">
                      <div class="card-block center">
                        <div id="container_NODOC" ></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 card-group">
                    <div class="card">
                      <div class="card-block center">
                        <h3 class="card-title">TEMPERATURA</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                      <div class="card-block center">
                        <h3 class="card-title">HUMEDAD</h3>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                      </div>
                    </div>
                  </div>
                </div>

            </div>

		</div>
	</body>
</html>
